<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Escape CLT</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="/css/home.css" href="/css/master.css">
</head>
<body class="center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Tout commence avec une conversation entre la Dr. Ditié et un autre scientifique</h3>

      </div>
    </header>

    <ul class="list-unstyled" style="width: 800px;">
      <li class="media" style="width: 500px;">
        <img src="images/logo_clt.png" class="mr-3" width="100" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Autre</h5>
          <h6 class="mt-0 mb-1">01/01/2050 00:00</h6>
          Quel dommage que les recherches n’aient pas abouti en 2020 ! Dire qu’on aurait pu trouver ce remède il y a déjà 30 ans…
        </div>
      </li>
      <br>
      <li class="media " style="width: 500px; float: right;">
        <div class="media-body" style="float: right" >
          <h5 class="mt-0 mb-1" >Lucie Dité</h5>
          <h6 class="mt-0 mb-1" >01/01/2050 00:01</h6>
          C’est vrai, et pourtant ils étaient à pas grand chose… mais bon, c’est la vie !
        </div>
        <img src="images/logo_eclair.png"  width="100" alt="...">
      </li>
      <br>
      <li class="media" style="width: 500px;">
        <img src="images/logo_clt.png" class="mr-3" width="100" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Autre </h5>
          <h6 class="mt-0 mb-1">01/01/2050 00:02</h6>
          Tu te souviens de ce gars qui travaillait avec nous il y a quelques années ? J’ai oublié son nom… Celui qui disait qu’il pourrait remonter dans le temps !
        </div>
      </li>
      <br>
      <li class="media " style="width: 500px; float: right;">
        <div class="media-body" style="float: right" >
          <h5 class="mt-0 mb-1" >Lucie Dité</h5>
          <h6 class="mt-0 mb-1" >01/01/2050 00:02</h6>
          Ah ! Oui ! Son nom m’échappe… mais oui ?
        </div>
        <img src="images/logo_eclair.png"  width="100" alt="...">
      </li>
      <br>
      <li class="media" style="width: 500px;">
        <img src="images/logo_clt.png" class="mr-3" width="100" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Autre </h5>
          <h6 class="mt-0 mb-1">01/01/2050 00:02</h6>
          Je pensais à lui justement ! Il aurait été là à nous dire qu’il allait retourner dans le passé, en 2020, pour leur donner le remède… c’est sûr !
        </div>
      </li>
    </ul>

    <form class="" action="/part1" method="get">
      <button type="submit" class="btn btn-lg btn-primary" name="button"> Continuer </button>
    </form>


  </div>

  <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/home.js" charset="utf-8"></script>

</body>
</html>
