<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Escape CLT</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="/css/home.css" href="/css/master.css">
</head>
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Escape game en ligne du telethon</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <div class="row text-center" style="width:100%;">
        <div class="col-6">
          <img src="images/logo_eclair.png" alt="logo d'Éclair" width="200">
        </div>
        <div class="col-6">
          <img src="images/logo_clt.png" alt="logo de CLT" width="200">
        </div>
      </div>

      <!--   <img src="images/logo_eclair.png" class="rounded float-left" alt="logo d'Éclair" width="200">
      <img src="images/logo_clt.png" class="rounded float-right" alt="logo d'Éclair" width="200">
    -->
  <!--  <h1 class="cover-heading">Escape game en ligne du telethon</h1> -->
    <p class="lead container" style="width:50%;">Nous sommes en 2050. Tu es l’assistant de Lucie Dité, une grande scientifique dans un laboratoire de recherche, et ce laboratoire vient de trouver un remède contre la myopathie de Duchenne, une maladie neuromusculaire. Les recherches ont abouti après que Lucie Dité soit tombée sur des travaux datant de 2020, qui avaient été abandonnés au profit de la recherche pour le vaccin du COVID-19.
</p>

    <form id="start_form" method="post" action="/start">
      <div class="form-group">
        <label for="username">Quel est ton nom ? </label>
        <input type="text" id="usr" aria-describedby="username" name="nick">
      </div>
      <br>
      <% if(msg) {%>
        <div class='alert alert-warning' role='alert'><%= msg %></div>
      <br>
      <% } %>
      <button type="submit" class="btn btn-lg btn-primary">Commencer</button>
    </form>
  </main>

  </div>

  <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/home.js" charset="utf-8"></script>

</body>
</html>
