<!DOCTYPE html>

<!-- Page2: dialogue introductif entre Lucie Ditié et son collegue
juste un bouton envoyer -->

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Escape CLT</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page3.css">
  <link rel="stylesheet" href="/css/chat.css">
</head>

<body class="center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Tout commence avec une conversation entre la Dr. Ditié et un autre scientifique</h3>

      </div>
    </header>
    
    <ul class="list-unstyled chat">
      <li class="text-center chat_date">05/12/2050-12:04</li>
      <li class="media received">
        <img src="images/logo_clt.png" class="mr-3" width="100" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1"> <img src="images/bulle1.svg" alt=""> Autre</h5>
          <h6 class="mt-0 mb-1">01/01/2050 00:00</h6>
          Quel dommage que les recherches n’aient pas abouti en 2020 ! Dire qu’on aurait pu trouver ce remède il y a déjà 30 ans…
        </div>
      </li>
      <br>

      <li class="media sent">
        <div class="media-body text-right" style="float: right" >
          <h5 class="mt-0 mb-1" >Lucie Dité <img src="images/bulle2.svg" alt=""></h5>
          C’est vrai, et pourtant ils étaient à pas grand chose… mais bon, c’est la vie !
        </div>
        <img src="images/logo_eclair.png"  width="100" alt="...">
      </li>
      <br>

      <li class="media received">
        <img src="images/logo_clt.png" class="mr-3" width="100" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1"> <img src="images/bulle1.svg" alt=""> Autre </h5>
          Tu te souviens de ce gars qui travaillait avec nous il y a quelques années ? J’ai oublié son nom… Celui qui disait qu’il pourrait remonter dans le temps !
        </div>
      </li>
      <br>

      <li class="media sent">
        <div class="media-body text-right" style="float: right" >
          <h5 class="mt-0 mb-1" >Lucie Dité <img src="images/bulle2.svg" alt=""></h5>
          Ah ! Oui ! Son nom m’échappe… mais oui ?
        </div>
        <img src="images/logo_eclair.png"  width="100" alt="...">
      </li>
      <br>

      <li class="media" style="width: 500px;">
        <img src="images/logo_clt.png" class="mr-3" width="100" alt="...">
        <div class="media-body">
          <h5 class="mt-0 mb-1"><img src="images/bulle1.svg" alt=""> Autre </h5>
          Je pensais à lui justement ! Il aurait été là à nous dire qu’il allait retourner dans le passé, en 2020, pour leur donner le remède… c’est sûr !
        </div>
      </li>
      <br>

      <form class="text-center" action="/page3" method="get">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-lg btn-primary" id="button_2"  name="button_2"> Commencer à rechercher des informations sur l'ordinateur </button>
          </div>
          <div class="col-md-6">
            <button type="submit" class="btn btn-lg btn-primary" name="button"> Interroger Lucie Dité sur ce mysterieux collègue</button>
          </div>
        </div>
        <br>
        <br>
        <div id="button_2_result">
        </div>
        <br>
        <br>
      </form>
    </ul>

  </div>

  <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/page2.js" charset="utf-8"></script>
  <script src="/js/chat.js" charset="utf-8"></script>

</body>
</html>
