<li class="text-center chat_date"><%=date%></li>
<br>

<li class="media sent text-right">
  <div class="media-body " >
    <h5 class="mt-0 mb-1"> <%=nick%> <img src="images/bulle2.svg" alt=""></h5>
    Je pense que c'était en Thaïlande en août 2046 sur les maladies cardio-vasculaires. <br> Ca te dit quelquechose ?
  </div>
  <img src="images/player.svg"  width="40em" alt="...">
</li>
<br>

<li class="media received">
  <img src="images/scientist_f.svg"  width="40em" alt="...">
  <div class="media-body">
    <h5 class="mt-0 mb-1">
      <img src="images/bulle1.svg" alt=""> Lucie Dité</h5>
      Oui bien sur comment j'ai pu oublier! J'y été avec mon ami chercheur Lucas, on avait écrit un article ensemble l'année précédente.
      C'est lui qui nous parlait sans arrêt du voyage dans le temps, il devrait avoir plus d'informations. <br>
      Malheuresement je n'ai plus ses coordonnées, je ne me souviens même plus de son nom de famille... <br>
      Essaye de trouver son contact et envoi lui un message
    </div>
  </li>

  <br>
