<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Escape CLT</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page4.css">
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    </header>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Voici l'énigme du docteur. Bonne chance!</h1>
      <p>Chaque étape donne un indice. Celui-ci est un mot ou une phrase qui a un rapport avec la solution. Il n'est pas nécessaire de trouver tous les indices pour trouver le mot solution.</p>
      <form id="rep_form" method="post" action="/rep_form">
        <label for="reponse2">Solution :</label>
        <input type="text" id="reponse2"  name="reponse">
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
      <h4>Indice 1</h4>
      <p>เบาะแสคือเงิน</p>
      <h4>Indice 2</h4>
      <p> <span class="white">passe</span> </p>
      <h4>Indice 3</h4>
      <p> La plus grande touche du clavier. </p>
      <h4>Indice 4</h4>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <table style="margin-left:auto;margin-right:auto;"> 
              <tr>
                <td>1.</td><td class="tableau_rouge">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td>
              </tr>
              <tr>
                <td>2.</td><td class="tableau_rouge">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td>
              </tr>
              <tr>
                <td>3.</td><td class="tableau_rouge">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td>
              </tr>
              <tr>
                <td>4.</td><td class="tableau_rouge">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td>
              </tr>
              <tr>
                <td>5.</td><td class="tableau_rouge">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td><td class="tableau">_</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-6">
            <h5>Définitions</h5>
             <ol>
              <li>Carnivore mustélidé aquatique aux pattes palmées, mangeur de poissons.</li>
              <li>Élément 53.</li>
              <li>Indique le nord.</li>
              <li>Question?</li>
              <li>Tombe du ciel en cas d'orages.</li>
            </ol>
          </div>
        </div>
      </div>
      <h4>Indice 5</h4>
      <iframe src="https://www.jigsawplanet.com/?rc=play&amp;pid=1c41e144a58c&amp;view=iframe&amp;bgcolor=0x000000" style="width:100%;height:600px" frameborder="0" allowfullscreen></iframe>
      <h4><a href="http://scol.ec-lyon.fr">Indice 6</a></h4>
      <h4>Indice 7</h4>
      <p>Zs rsfbwsf wbrwqs sgh vcfzcus, jcig rsjfwsn hfcijsf ojsq ço! <span class="smalltext">(Zut, on dirait qu'une lettre n'a pas été encodé!)</span></p>
    </main>
  </div>

  <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/page4.js" charset="utf-8"></script>

</body>
</html>
