<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Escape CLT</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="/css/part1.css" href="/css/master.css">
</head>

<body class="text-center">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Discution avec Dité</h1>

      <ul class="list-unstyled" style="width: 800px;">

        <li class="media " style="width: 500px; float: right;">
          <div class="media-body" style="float: right" >
            <h5 class="mt-0 mb-1" >toi</h5>
            <h6 class="mt-0 mb-1" >01/01/2050 00:01</h6>
              Je ne me souviens plus très bien mais tu peux chercher ici rencontrés à un colloque, qu’il faisait chaud et humide, qu’elle venait présenter sa recherche sur la maladie de Lyme
         </div>
          <img src="images/logo_eclair.png"  width="100" alt="...">
        </li>
        <br>
        <li class="media" style="width: 500px;">
          <img src="images/logo_clt.png" class="mr-3" width="100" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Autre </h5>
            <h6 class="mt-0 mb-1">01/01/2050 00:02</h6>
            Tu te souviens de ce gars qui travaillait avec nous il y a quelques années ? J’ai oublié son nom… Celui qui disait qu’il pourrait remonter dans le temps !
          </div>
        </li>
        <br>
        <li class="media " style="width: 500px; float: right;">
          <div class="media-body" style="float: right" >
            <h5 class="mt-0 mb-1" >Lucie Dité</h5>
            <h6 class="mt-0 mb-1" >01/01/2050 00:02</h6>
            Ah ! Oui ! Son nom m’échappe… mais oui ?
          </div>
          <img src="images/logo_eclair.png"  width="100" alt="...">
        </li>
        <br>
        <li class="media" style="width: 500px;">
          <img src="images/logo_clt.png" class="mr-3" width="100" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Autre </h5>
            <h6 class="mt-0 mb-1">01/01/2050 00:02</h6>
            Je pensais à lui justement ! Il aurait été là à nous dire qu’il allait retourner dans le passé, en 2020, pour leur donner le remède… c’est sûr !
          </div>
        </li>
      </ul>

      <form id="rep_form" method="post" action="/rep_form">
        <!--<div class="form-group">
        <label for="reponse">Réponse</label>
        <div id="rep_form_result">
      </div>
      <input type="text" class="form-control" id="reponse" aria-describedby="reponse" name="reponse">
    </div>-->
        <input type="text" id="reponse2"  name="reponse">
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
  </div>

  <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/part1.js" charset="utf-8"></script>

</body>
</html>
