<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Escape CLT</title>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/page1.css">
</head>
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand m-5">Bravo! La réponse était bien le temps!</h3>
      </div>
    </header>

    <main role="main" class="inner cover">

    <p class="lead container" style="width:50%;">
      Le chercheur vous félicite d'avoir résolu l'énigme.
      Malheureusement il n’a pas en sa possession les informations nécessaires pour pouvoir retourner dans le temps.
      Mais il sait que le chercheur avait caché les informations sur un site dont il peut vous donner l’adresse:
    </p>

        <a class="btn btn-lg btn-primary m-5" href="/siteperso" >Continuer sur ce site</a>

    </main>

  </div>

  <script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/page1.js" charset="utf-8"></script>

</body>
</html>
