.white {
	color: white;
}

.tableau{
	border:1px solid black;
	font-size: 150%;
}
.tableau_rouge{
	border:1px solid red;
	font-size: 150%;
}
.rouge{
	color: red;
	font-size: 120%;
}
.smalltext{
	font-size: 70%;
}

h4 {
	text-decoration: underline;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
